version: 2
jobs:
  build:
    machine:
      enabled: true
    working_directory: ~/kloudformation-runner
    steps:
    - checkout

    - restore_cache:
        keys:
        - gradle-{{ checksum "build.gradle.kts" }}

    - run:
        name: Gradle Clean
        command: ./gradlew clean build -DBUILD_NUM=$CIRCLE_BUILD_NUM

    - run:
        name: Gradle Build and Upload
        command: ./gradlew bintrayUpload -DBUILD_NUM=$CIRCLE_BUILD_NUM -DBINTRAY_KEY=$BINTRAY_KEY

    - save_cache:
        paths:
        - ~/.gradle
        key: gradle-{{ checksum "build.gradle.kts" }}

    - run:
        name: Update Version Number in Scripts
        command: awk -v CIRCLE_BUILD_NUM=${CIRCLE_BUILD_NUM} '{sub(/XXXXX/, CIRCLE_BUILD_NUM)}1' kloudformation.sh > temp.sh && mv temp.sh kloudformation.sh && chmod +x kloudformation.sh

    - run:
        name: Move Jar into kloudformation
        command: mkdir -p ~/.kloudformation && mv build/libs/kloudformation-runner-1.0.${CIRCLE_BUILD_NUM}-uber.jar ~/.kloudformation/kloudformation-runner-1.0.${CIRCLE_BUILD_NUM}-all.jar

    - run:
        name: Authenticate with NPM registry
        command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc

    - run:
        name: Update NPM package version
        command: npm --no-git-tag-version version -f 1.0.${CIRCLE_BUILD_NUM}

    - run:
        name: Publish NPM package
        command: npm publish --access public

    - restore_cache:
        keys:
        - kloudformation-{{ checksum "kloudformation.sh" }}

    - run:
        name: Deploy Certificate Stack in US-EAST-1
        command: ./kloudformation.sh deploy -region us-east-1 -stack-name kloudformation-runner-cert -stack-file stack/Stack.kt -stack-class CertInUsEast1 -template cert-stack.yml -m s3@1.0.10

    - save_cache:
        paths:
        - ~/.kloudformation
        key: kloudformation-{{ checksum "kloudformation.sh" }}

    - run:
        name: Deploy Site Stack in EU-WEST-1
        command: ./kloudformation.sh deploy -region eu-west-1 -stack-name kloudformation-runner-site -stack-file stack/Stack.kt -stack-class Site -template site-stack.yml -m s3@1.0.10

    - store_artifacts:
        path: cert-stack.yml

    - store_artifacts:
        path: site-stack.yml

    - run:
        name: Move Files
        command: |
          mkdir s3
          mv install-kloudformation.sh s3
          mv kloudformation.sh s3

    - run:
        name: Sync Files with S3
        command: aws s3 sync ./s3 s3://install-kloudformation/