version: 2
jobs:
  build:
    machine:
      enabled: true
    working_directory: ~/kloudformation-runner
    steps:
    - checkout

    - restore_cache:
        keys:
        - gradle-{{ checksum "build.gradle.kts" }}

    - run:
        name: Gradle Clean
        command: ./gradlew clean build -DBUILD_NUM=$CIRCLE_BUILD_NUM

    - run:
        name: Gradle Build and Upload
        command: ./gradlew bintrayUpload -DBUILD_NUM=$CIRCLE_BUILD_NUM -DBINTRAY_KEY=$BINTRAY_KEY

    - save_cache:
        paths:
        - ~/.gradle
        key: gradle-{{ checksum "build.gradle.kts" }}

    - run:
        name: Update Version Number in Scripts
        command: awk -v CIRCLE_BUILD_NUM=${CIRCLE_BUILD_NUM} '{sub(/XXXXX/, CIRCLE_BUILD_NUM)}1' kloudformation.sh > temp.sh && mv temp.sh kloudformation.sh && chmod +x kloudformation.sh

    - run:
        name: Transpile Stacks
        command: |
          ./kloudformation.sh -stack-file stack/Stack.kt -stack-class CertInUsEast1 -template cert-stack.yml -m s3@0.1.8
          ./kloudformation.sh -stack-file stack/Stack.kt -stack-class Site -template site-stack.yml -m s3@0.1.8

    - store_artifacts:
        path: cert-stack.yml

    - store_artifacts:
        path: site-stack.yml

    - run:
        name: Move Files
        command: |
          mkdir s3
          mv install-kloudformation.sh s3
          mv kloudformation.sh s3

    - run:
        name: Install CloudFormation Scripts
        command: npm install -g cfn-create-or-update
    - run:
        name: Deploy Certificate Stack
        command: cfn-create-or-update --stack-name kloudformation-runner-cert --template-body file://cert-stack.yml --timeout-in-minutes 120 --region us-east-1 --wait
    - run:
        name: Deploy Site Stack
        command: cfn-create-or-update --stack-name kloudformation-runner-site --template-body file://site-stack.yml --timeout-in-minutes 120 --region eu-west-1 --wait
    - run:
        name: Sync Files with S3
        command: aws s3 sync ./s3 s3://install-kloudformation/