name: Build
on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.x]
    steps:
      - uses: actions/checkout@v1
      - name: Generate build number
        id: buildnumber
        uses: einaregilsson/build-number@v2
        with:
          token: ${{ secrets.github_token }}
          prefix: ${{ github.ref }}

      - name: Setup python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          node-version: ${{ matrix.python-version }}

      - name: Install AWS CLI
        run: pip3 install awscli --target ~/aws-cli

      - name: Gradle Build
        run: ./gradlew clean build -DBUILD_NUM=${{ steps.buildnumber.outputs.build_number }}

#      - name: Upload
#        run: ./gradlew bintrayUpload -DBUILD_NUM=${{ steps.buildnumber.outputs.build_number }} -DBINTRAY_KEY=${{ secrets.BINTRAY_TOKEN }}

      - name: Update Runner Version
        run: sed -i 's/XXXXX/'${BUILD_NUMBER}'/' kloudformation.sh

      - name: Update Kloudformation Version Number
        run: |
          VERSION=`curl -X GET \
            'https://api.bintray.com/packages/hexlabsio/kloudformation/kloudformation/versions/_latest?attribute_values=1' \
            -u hexlabs-builder:${{ secrets.BINTRAY_TOKEN }}`; \
          echo Found Latest version of Kloudformation to be $VERSION;\
          if [[ "${VERSION}" =~ \"name\":\"([\.0-9]+)\" ]]; then sed -i 's/YYYYY/'${BASH_REMATCH[1]}'/' kloudformation.sh; else exit 1; fi

      - name: Use Version of Runner
        run: mkdir -p ~/.kloudformation && mv build/libs/kloudformation-runner-1.0.${{ steps.buildnumber.outputs.build_number }}-uber.jar ~/.kloudformation/kloudformation-runner-1.0.${{ steps.buildnumber.outputs.build_number }}-all.jar

      - name: Deploy Certificate Stack
        run: ./kloudformation.sh deploy -region us-east-1 -stack-name kloudformation-runner-cert -stack-file stack/Stack.kt -stack-class CertInUsEast1 -template cert-stack.yml -m s3@1.1.12
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Deploy Website
        run: ./kloudformation.sh deploy -region eu-west-1 -stack-name kloudformation-runner-site -stack-file stack/Stack.kt -stack-class Site -template site-stack.yml -m s3@1.1.12 -s us-east-1:kloudformation-runner-cert
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Move Files
        run: |
          mkdir s3
          mv install-kloudformation.sh s3
          mv kloudformation.sh s3

      - name: Sync Files with S3
        run: aws s3 sync ./s3 s3://install-kloudformation/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}